* {
    margin: 0;
    padding: 0;
}

body {
    background: #f3f5f7;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F7C8DA;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box input {
    caret-color: #f3f5f7;
    color: #f3f5f7;
}

.search-box input::placeholder {
    color: #f3f5f7;
}

.input-submit {
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: none;
    opacity: 0.0;
}

form:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

form:hover > .search-btn {
    background: white;
    color: #F7C8DA;
}

.search-btn:hover {
    background: white;
    color: #f58f98 !important;
}

.search-btn {
    position: relative;
    color: #f3f5f7;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F7C8DA;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}

